.sidebar {
  grid-area: sidebar;
  position: absolute;
  left: 0;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
  min-height: 4em;
  min-width: 20em;
}

.layout {
  display: grid;
  grid-gap: 4;
  grid-template-columns: 300px repeat(5, minmax(100px, 1fr));
  grid-template-areas:
    "....... header header header header header"
    "sidebar content content content content content";
}
