.sidebar {
  grid-area: sidebar;
  position: absolute;
  left: 0;
  background-color: #ffffff;
  border-left: solid #261447;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
  min-height: 4em;
  min-width: 20em;
  text-align: center;
}

.menu {
  background-color: white;
  border-left: 0.5px;
}

.layout {
  display: grid;
  grid-template-columns: repeat(5, minmax(75px, 1fr));
  grid-template-areas:
    "sidebar header header header header header"
    "content content content content content content";
}
